@model IEnumerable<Abc.MvcWebUI2.Models.AdminOrderModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />

<div class="container pb-5">
    <h2>Siparişler</h2>
    <hr />

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Sipariş Numarası</th>
                <th>Sipariş Tarihi</th>
                <th>Sipariş Durumu</th>
                <th>Tutar</th>
                <th>Ürün Toplamı</th>
                <th>Detay</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.OrderNumber</td>
                    <td>@item.OrderDate</td>
                    <td>@item.OrderState</td>
                    <td>₺@item.Total</td>
                    <td>@item.Count</td>
                    <td>
                        @Html.ActionLink("Detayı Gör", "Details", new {id=item.Id }, new { @class="btn btn-primary btn-sm" })
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>